extends ./templates/main.pug

block var

    - var title = 'Корзина'
    - var page = 'basket'

block content
    main.basket // TODO стилизовать
        button.basket__button-reset Очистить корзину
        // TODO формирование списка товаров
        ul.basket__products.products
        include ./blocks/form-order/form-order
        .basket__sum