extends ./templates/main.pug

block var

    - var title = 'Корзина'
    - var page = 'basket'

block content
    // TODO стилизовать
    main.main-basket
        .main-basket__wrapper
            button.main-basket__button-reset#button-reset Очистить корзину
            ul.main-basket__products.products#products
            // TODO реализовать отправку заказа
            .main-basket__form-order
                include ./blocks/form-order/form-order
            .main-basket__total.total
                span.total__caption Итого: 
                span.total__sum#total-sum

