mixin button(classButton)
    button(class= classButton) Button

<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body
        form#formLogin(action='/' method='POST' )
            input(type="text" name='user') 
            input(type="password" name='password')
            input(type='submit' name='submit' value='Send')
        form#formSignIn(action='/signin' method='POST' name='formSignIn')
            input(type="text" name='user')
            input(type="password" name='password')
        button#button-submit(name='submit') SignIn
        script(src='/assets/js/index.js')
                 