extends ./templates/main.pug

block var
    - var title = 'Товар'
    - var page = 'product'
block content
    main.product-page
        .product__slider
            .my-slider#my-slider
        h1.product__name= name
        p.product__price= price
        .product__rating
            - var ratingCheck = rating.roundedRating
            include ./blocks/rating-star/rating-star.pug
        button.product__button-add Добавить в корзину
        .product__review
            include ./blocks/review-star/review-star.pug

