header.header
    button.header__menu-button#button-menu
    .header__menu-nav
        include ../menu-nav/menu-nav
    a.header__link-logo(href='/')
        img.header__logo.logo-furniture(src="/assets/images/logo-light.png" alt='My furniture')
    .header__link-home
        a.header__link(href='/') На главную