header.header
    .header__basket
        a.header__link-basket(href='basket')
            include ../basket/basket.pug
    a.header__link-logo(href='index')
        img.header__logo.logo-furniture(src='../public/assets/images/logo-light.png')
    .header__link-home
        a.header__link(href='/') На главную