header.header
    .header__basket.basket
        a.basket__link(href='basket' id='basket-link')
            .basket__count
    a.header__link-logo(href='/')
        img.header__logo.logo-furniture(src="/assets/images/logo-light.png" alt='My furniture')
    .header__link-home
        a.header__link(href='/') На главную