block var

<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{title}
        // TODO favicon
        link(rel="stylesheet" href="/assets/css/common.css")
        link(rel="stylesheet" href=`/assets/css/${page}.css`)
    body
        .wrapper
            include ../blocks/header/header
            block content
        script(src="/assets/js/common.js" defer)
        script(src=`/assets/js/${page}.js` defer)