form.form-order(name='formOrder')
        input.form-order__input.form-order__input-name(type='text' name='name' id='name' placeholder='Имя' required)
        input.form-order__input.form-order__input-phone(type='tel' name='phone' id='phone' placeholder='+7 ( ___ ) ___ ____'  required)
        input.form-order__input.form-order__input-submit(type='submit' id='submit' value='Заказать')