form.form-order(name='formOrder')
        input.form-order__input.form-order__input-name(type='text' name='name' id='name' required)
        // TODO патерн в поле телефон
        input.form-order__input.form-order__input-phone(type='tel' name='phone' id='phone' pattern='[0-9]{10}' required)
        input.form-order__input.form-order__input-submit(type='submit' id='submit' value='Заказать')
        // pattern="+7-9[0-9]{2}-[0-9]{3}-[0-9]{2}-{0-9]{2}"