form.form-order(name='formOrder')
        input.form-order__input.form-order__input_name(type='text' id='name' required)
        input.form-order__input.form-order__input_phone(type='text' id='phone' required)
        input.form-order__input.form-order__input_submit(type='submit' id='submit' value='Заказать')