form.form-order(name='formOrder')
        input.form-order__input.form-order__input-name(type='text' id='name' required)
        input.form-order__input.form-order__input-phone(type='text' id='phone' required)
        input.form-order__input.form-order__input-submit(type='submit' id='submit' value='Заказать')