fieldset.review
    legend.review__caption Оставить отзыв
    .review__group
        input.review__input(type="radio" name='review' id='review-1' value='5')
        label.review__star(for='review-1')
        input.review__input(type="radio" name='review' id='review-2' value='4')
        label.review__star(for='review-2')
        input.review__input(type="radio" name='review' id='review-3' value='3')
        label.review__star(for='review-3')
        input.review__input(type="radio" name='review' id='review-4' value='2')
        label.review__star(for='review-4')
        input.review__input(type="radio" name='review' id='review-5' value='1')
        label.review__star(for='review-5')
    button.review__button#review-button Оценить