.my-slider
    .my-slider__slide 1
        img(src='../../../images/04.jpg')
    .my-slider__slide 2
        img(src='../../../images/03.jpg')
    .my-slider__slide 3
        img(src='../../../images/city.jpg')
    .my-slider__slide 4
        img(src='../../../images/city.jpg')
    .my-slider__slide 5
        img(src='../../../images/city.jpg')