.menu#menu
    ul.menu__list
        li.menu__item
            button.menu__button-sign#buttonMenuSign Регистрация
        li.menu__item
            button.menu__button-login#buttonMenuLogin Вход
        li.menu__item
            a.menu__link-admin#linkMenuAdmin(href='/basket') Корзина
            .menu__basket-count#menu-count